<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{% block title %}MovieWeb{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li><strong>{{ category }}:</strong> {{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

</body>
</html>